# Zensical stuff
site/

# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# uv / virtual envs
.venv/
.env

# Tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editors / OS
.idea/
.vscode/
.DS_Store
